nav {
    background-color: #555;
    overflow: auto;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  
  nav li {
    float: left;
  }
  
  nav a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  nav a:hover:not(.active) {
    background-color: #4caf50;
  }
  
  nav .active {
    background-color: #04AA6D;
  }